<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>


<h1>Directory</h1>
<form action="/" method="post">
    {% csrf_token %}
    {{ search_form }}
    <input type="submit" value="Submit">
</form>

<table>
    <thead></thead>
    <tbody>
    {% for teacher in teachers %}
        <tr>
            <td><strong><a
                    href="/teacher/{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</a></strong>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<h1>Bulk Upload</h1>
<form action="/bulk_upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ bulk_upload_form }}
    <input type="submit" value="Submit">
</form>


</body>
</html>
