<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
</head>
<body>
<ul>
    <li>First Name: {{ teacher.first_name }}</li>
    <li>Last Name: {{ teacher.last_name }}</li>
    <li>Email: {{ teacher.email }}</li>
    <li>Phone number: {{ teacher.phone_number }}</li>
    <li>Room number: {{ teacher.room_number }}</li>
    <li>Subjects: {{ teacher.subjects }}</li>
    <li>Profile Picture: <img width="300px" src="{{teacher.profile_picture.url}}"></li>
</ul>


</body>
</html>
